[submodule "Geographics"]
	path = Geographics
	url = https://github.com/NpoSaut/netGeographicsLib.git
[submodule "CanLib"]
	path = CanLib
	url = ../netCanLib.git
[submodule "Visualisations"]
	path = Visualisations
	url = ../netVisualisations.git
